
$primary-color: #1b74e4; 
$secondary-color: #65676b; 
$secondarylight-color: #f0f2f5;

$bg-white: #ffffff; 
$bg-scondary: #e4e6eb; 
$bg-hover: #dfdfdf; 

$text-theme: #1b74e4; 
$text-primary: #050505; 
$text-scondary: #65676b; 

@mixin white_card {
    box-shadow: 0px 0px 5px #dddddd5e;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}


// background image
.profile-background {
    background-color: #fff;
    
    .container {
        max-width: 1250px;
        width: 99%;
        margin: 0 auto;
        position: relative; 
    }

    .background-image {
        width: 100%;
        height: 100%;
        max-height: 520px;
        object-fit: cover;
        // object-position: bottom;
        border-radius: 10px;
    }

    .background-update-btn  {
        position: absolute;
        right: 40px;
        bottom: 25px;
    }
}

// container
.profile-container {
    max-width: 1200px;
    width: 98%;
    margin: 0 auto;
}

// profile hero
.profile-hero {
    background-color: #fff;
    padding-bottom: 1rem;

    .profile-user-image-warpper {
        position: relative;
        .edit-btn {
            cursor: pointer;
            position: absolute;
            right: 35px;
            bottom: 10px;
            background: #d4d4d4;
            color: #414141;
        }
    }

    .profile-container {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-top: -50px;
    }
        
    .buttons {
        margin-bottom: 1rem;
        display: flex;
        gap: 1rem;

    }
}

.profile-user-info {
    display: flex;
    align-items: end;

    .avatar {
        font-size: 8rem;
        height: 12rem;
        width: 12rem;
        display: grid;
        place-content: center;
        border-radius: 50%;
        border: 5px solid white;
        background-color: rgb(58, 58, 58);
        color: white;
        margin-right: 1rem;
    }

    .profile-name {
        margin-bottom: 1rem;
        letter-spacing: 1px;
        h1 {
            font-size: 32px;

        }

        p {
            margin: 8px 0;
            color: grey;
        }
    }

    .friends-show {
        display: flex;
        i {
            width: 30px;
            height: 30px;
            background: #e7e7e7;
            display: grid;
            place-content: center;
            border-radius: 50%;
            margin-left: -6px;
            border: 1px solid black;
        }
    }
}

// nav list
.profile-nav {
    background-color: #fff;
    position: relative;

    .profile-container {
        border-top: 1px solid lightgray;
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    // responsive: hide nav-item when page is shrinked. 
    .profile-nav-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
    }

    // inline-nav
    .inline-page-nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow-x: hidden;
    }

    // dropdown-nav
    .dropdown-page-nav {
        position: absolute; 
        top: 50px;
        right: 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.166);
        padding: 10px;
        border-radius: 8px;
        width: 200px;
        z-index: 1; 
        display: none;
        &.show-page-nav {
            display: block;
        }
    }

    .btn {
        color: #65676b;
        font-size: 16px;
        &:hover {
            background-color: #f0f2f5;
        }
    }

    .nav-item {
        cursor: pointer;
        &.active {
            border-bottom: 3px solid $text-theme;
            color: $primary-color;
        }
    }

    .nav-link {
        display: block;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 2px;
        border-radius: 8px;
        color: $text-scondary;
        white-space: nowrap;

        &:hover {
            background: $secondarylight-color;
        }
    }

    // Dropdown nav
    .dropdown-list {
        position: relative;
    }
    
    .dropdown-list-btn {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .dropdown-list-nav {
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
    }

    // dropdown-nav 
    .dropdown-nav-btn {
        background-color: #f0f2f5;
        padding: 8px 15px;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
            background-color: #e5e5e5;
        }
    }

    .dropdown-nav-menu {
        background: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 12px 10px;
        width: 250px;
        border-radius: 8px;
        position: absolute;
        right: 8px;
        top: 58px;
        z-index: 1;
        display: none;
        
        &.show {
            display: block;
        }
    }

    .dropdown-menu-link {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px 8px;
        border-radius: 6px;

        &:hover {
            background-color: #eff1f4;
        }
    }
}

// profile page lahyout
.profile-main {
    padding-top: 1.2rem;

    .profile-container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    // profile summary 
    .profile-summary {
        width: 40%;
    }

    // prosts wrapper
    .profile-posts-wrapper {
        width: 60%;
    }
}

// profile suammary
.profile-summary {
    width: 40%;
    .intro {
        @include white_card();
    }

    .section-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .btn {
        margin-bottom: 20px;
    }

    // photos section
    .photos {
        @include white_card();
    }

    .photo-snip {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .3rem;
        row-gap: .5rem;
    }

    .photo-item {
        width: 100%; 
        border-radius: 10px;
    }

    // friends section
    .friends {
        @include white_card();
    }

    .friends-count {
        margin: 10px 0; 
        color: $secondary-color
    }

    // life events section
    .life-events {
        @include white_card();
    }

    .event-wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: .3rem;
        row-gap: .5rem;
    }

    .events-item {
        padding: 10px 5px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    }
}



@media screen and (max-width: 925px) {
    .profile-background .background-update-btn {
        span { display: none;}
        .avatar_round_20 {
            font-size: 25px;
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    .profile-hero {
        .profile-container {
            flex-direction: column;
            align-items: stretch;
        }

        .profile-user-info {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .buttons {
            justify-content: center;
        }
    }
    
    .profile-main {
        .profile-container {
            display: block;
        }

       .profile-summary, .profile-posts-wrapper {
            width: 80%;
            margin: 0 auto;
       }
    }
}

@media screen and (max-width: 750px) {
    .profile-main {
        .profile-summary, .profile-posts-wrapper {
            width: 98%;
        }
    }
}