@import './mixins';

// watch page layout
.page-main-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    // max-width: 1600px;
    width: 100%;
    margin-top: 65px auto 0 auto;

    .left-col {
        width: 360px;
        flex-shrink: 0;
        background-color: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.147);
        padding: 10px 10px 10px 15px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    
    // right/main column
    .main-col {
        width: 60%;
        margin: 20px auto 0;
    }

    .marketplace-main-col {
        width: 90%;
        max-width: 1800px;
        margin: 85px auto 0;
        padding: 0 32px;
    }
}

.col-wrraper {
    position: fixed; 
    top: 80px;
    width: 330px;
}

// watch-bookmarks-header
.page-bookmarks-header {
    // title
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // search 
    .search-box {
        position: relative;
        margin: 10px 0;

        .search-icon {
            position: absolute;
            top:50%; 
            transform: translateY(-50%);
            left: 10px;
        }
        
        input {
            width: 100%;
            border: none;
            outline: none;
            background: #f0f2f5;
            font-size: 16px;
            padding: 10px 10px 10px 35px;
            border-radius: 20px;
        }
    }
}

.page-bookmarks {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 76vh;
    @include vertical_scroll(); 
    
}

// bookmart-item styles
.bookmark-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1px;
    padding: 10px 10px 10px 5px;
    border-radius: 9px;
    cursor: pointer;

    &:hover {
        background-color: #f0f2f5;
    }
}

// Manage
.following_users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    button {
        background:transparent; 
        font-size: 16px;
        font-weight: 400;
        &:hover {
            background-color: #f0f2f5;
        }
    }

}


// marketplace-category
.create-new-list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #def7ff;
    border-radius: 10px;
    color: #1459c2;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.location-filter {
    margin: 15px 0;
    p {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    button {
        cursor: pointer;
        border: none;
        outline: none;
        color: #1b74e4;
        background: transparent;
        font-size: 14px;
        font-weight: 500;
    }
}



.marketplace-category {
    border-bottom: 1px solid #dadada;

    .filter-text {
        color: #1b74e4;
        background: transparent;
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 400;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 10px 0;
    }

    .header-title {
        font-size: 19px;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
    }

    .product-card {
        margin-bottom: 30px;
    }

    img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .filter-products {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}


// for smaller devices.
@media screen and (max-width: 800px) {
    .page-main-content {
        .left-col {
            display: none;
        }

        .main-col {
            width: 98%;
        }

        .marketplace-main-col {
            width: 98%;
            padding: 0 10px;
        }
    }
}