/************* Header **************/
.page-main-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-top: 65px auto 0 auto;
}

.page-main-content .left-col {
  width: 360px;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.147);
  padding: 10px 10px 10px 15px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.page-main-content .main-col {
  width: 60%;
  margin: 20px auto 0;
}

.page-main-content .marketplace-main-col {
  width: 90%;
  max-width: 1800px;
  margin: 85px auto 0;
  padding: 0 32px;
}

.col-wrraper {
  position: fixed;
  top: 80px;
  width: 330px;
}

.page-bookmarks-header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-bookmarks-header .search-box {
  position: relative;
  margin: 10px 0;
}

.page-bookmarks-header .search-box .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.page-bookmarks-header .search-box input {
  width: 100%;
  border: none;
  outline: none;
  background: #f0f2f5;
  font-size: 16px;
  padding: 10px 10px 10px 35px;
  border-radius: 20px;
}

.page-bookmarks {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 76vh;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.page-bookmarks::-webkit-scrollbar {
  width: 5px;
}

.page-bookmarks::-webkit-scrollbar-track {
  background: transparent;
}

.page-bookmarks::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.page-bookmarks:hover::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.page-bookmarks::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.bookmark-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1px;
  padding: 10px 10px 10px 5px;
  border-radius: 9px;
  cursor: pointer;
}

.bookmark-item:hover {
  background-color: #f0f2f5;
}

.following_users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.following_users button {
  background: transparent;
  font-size: 16px;
  font-weight: 400;
}

.following_users button:hover {
  background-color: #f0f2f5;
}

.create-new-list {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #def7ff;
  border-radius: 10px;
  color: #1459c2;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.location-filter {
  margin: 15px 0;
}

.location-filter p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.location-filter button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #1b74e4;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
}

.marketplace-category {
  border-bottom: 1px solid #dadada;
}

.marketplace-category .filter-text {
  color: #1b74e4;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
}

.marketplace-category .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
}

.marketplace-category .header-title {
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 600;
}

.marketplace-category .products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.marketplace-category .product-card {
  margin-bottom: 30px;
}

.marketplace-category img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.marketplace-category .filter-products {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 800px) {
  .page-main-content .left-col {
    display: none;
  }
  .page-main-content .main-col {
    width: 98%;
  }
  .page-main-content .marketplace-main-col {
    width: 98%;
    padding: 0 10px;
  }
}
/*# sourceMappingURL=page.css.map */