body {
  background-color: #e6e6e6;
}

header {
  box-shadow: none;
}

.profile-background {
  background-color: #fff;
}

.profile-background .container {
  max-width: 1250px;
  width: 99%;
  margin: 0 auto;
}

.profile-background .container img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 10px;
}

.container {
  max-width: 1200px;
  width: 98%;
  margin: 0 auto;
}

.profile-hero {
  background-color: #fff;
  padding-bottom: 1rem;
}

.profile-hero .container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: -50px;
}

.profile-hero .container .profile-image {
  display: flex;
  align-items: end;
}

.profile-hero .container .profile-image .avatar {
  font-size: 8rem;
  height: 12rem;
  width: 12rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: 5px solid white;
  background-color: #3a3a3a;
  color: white;
  margin-right: 1rem;
}

.profile-hero .container .profile-image .profile-name {
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.profile-hero .container .profile-image .profile-name h1 {
  font-size: 32px;
}

.profile-hero .container .profile-image .profile-name p {
  margin: 8px 0;
  color: grey;
}

.profile-hero .container .profile-image .friends-show {
  display: flex;
}

.profile-hero .container .profile-image .friends-show i {
  width: 30px;
  height: 30px;
  background: #e7e7e7;
  display: grid;
  place-content: center;
  border-radius: 50%;
  margin-left: -6px;
  border: 1px solid black;
}

.profile-hero .container .buttons {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.profile-hero .container .buttons button {
  border: none;
  outline: none;
  padding: 10px 12px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 138px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.profile-hero .container .buttons .create {
  background-color: #1b74e4;
  color: #fff;
}

.profile-hero .container .buttons .create i {
  font-size: 18px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.profile-hero .container .buttons .create:hover {
  background-color: #146cd6;
}

.profile-hero .container .buttons .edit {
  background-color: #f0f2f5;
  color: #000;
}

.profile-hero .container .buttons .edit i {
  font-size: 13px;
}

.profile-hero .container .buttons .edit:hover {
  background-color: #dbdbdb;
}

.profile-nav {
  background-color: #fff;
}

.profile-nav .container {
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  display: flex;
  align-items: cen;
  justify-content: space-between;
}

.profile-nav .container .links li {
  display: inline-block;
  cursor: pointer;
}

.profile-nav .container .links li a {
  display: grid;
  place-content: center;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
  color: #65676b;
}

.profile-nav .container .links li:hover a {
  background: #f0f2f5;
}

.profile-nav .container .links li.active {
  border-bottom: 3px solid #1b74e4;
}

.profile-nav .container .links li.active a {
  color: #1b74e4;
}

.profile-nav .container .links li.more a {
  display: flex;
  align-items: center;
  gap: 7px;
}

section.profile-main {
  padding-top: 1.2rem;
}

section.profile-main .container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

section.profile-main .container .profile_summary {
  width: 40%;
}

section.profile-main .container .profile_summary .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.profile-main .container .profile_summary .title a {
  color: #1b74e4;
  font-size: 16px;
  padding: 10px 17px;
  border-radius: 4px;
}

section.profile-main .container .profile_summary .title a:hover {
  background: #f0f2f5;
}

section.profile-main .container .profile_summary .intro {
  box-shadow: 0px 0px 5px #dddddd5e;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

section.profile-main .container .profile_summary .intro h3 {
  margin-bottom: 1.2rem;
}

section.profile-main .container .profile_summary .intro button {
  width: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: #f0f2f5;
  cursor: pointer;
}

section.profile-main .container .profile_summary .intro button:hover {
  background-color: #dfdfdf;
}

section.profile-main .container .profile_summary .photos {
  box-shadow: 0px 0px 5px #dddddd5e;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

section.profile-main .container .profile_summary .photos .photo_snip {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .3rem;
}

section.profile-main .container .profile_summary .photos .photo_snip .photo_item {
  flex-grow: 33.3%;
  font-size: 8.5rem;
}

section.profile-main .container .profile_summary .friends {
  box-shadow: 0px 0px 5px #dddddd5e;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

section.profile-main .container .profile_summary .friends .friends_count {
  margin: 10px 0;
  color: #65676b;
}

section.profile-main .container .profile_summary .friends .photo_item {
  border: 2px solid lightgray;
  border-radius: 4px;
}

section.profile-main .container .profile_summary .life_events {
  box-shadow: 0px 0px 5px #dddddd5e;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

section.profile-main .container .profile_posts {
  margin-left: auto;
  width: 60%;
}

section.profile-main .container .profile_posts .post-input {
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: .5rem 0;
}

section.profile-main .container .profile_posts .post-input .post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0f2f5;
}

section.profile-main .container .profile_posts .post-input .post i {
  margin-right: 1rem;
  background: #f3f3f3;
  padding: 10px 12px;
  border-radius: 20px;
  font-size: 19px;
}

section.profile-main .container .profile_posts .post-input .post input {
  flex-grow: 1;
  border-radius: 24px;
  border: none;
  background: #eaeaea;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}

section.profile-main .container .profile_posts .post-input .post input:hover {
  background: #eaeaea;
}

section.profile-main .container .profile_posts .post-input .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section.profile-main .container .profile_posts .post-input .links > div {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 4px;
  width: 33%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.profile-main .container .profile_posts .post-input .links > div .live {
  color: lightcoral;
}

section.profile-main .container .profile_posts .post-input .links > div .photo {
  color: lightgreen;
}

section.profile-main .container .profile_posts .post-input .links > div .feeling {
  color: orange;
}

section.profile-main .container .profile_posts .post-input .links > div span {
  color: #65676b;
}

section.profile-main .container .profile_posts .post-input .links > div i {
  font-size: 20px;
  margin-right: 1rem;
}

section.profile-main .container .profile_posts .post-input .links > div:hover {
  background-color: #f0f2f5;
}

section.profile-main .container .profile_posts .post_item {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
}

section.profile-main .container .profile_posts .post_item .header, section.profile-main .container .profile_posts .post_item .content, section.profile-main .container .profile_posts .post_item .post_footer {
  padding: 1rem;
}

section.profile-main .container .profile_posts .post_item .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.profile-main .container .profile_posts .post_item .header .user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.profile-main .container .profile_posts .post_item .header .user_info .text .name {
  font-size: 17px;
  font-weight: 500;
}

section.profile-main .container .profile_posts .post_item .header .user_info .text span {
  color: #65676b;
  font-size: 12px;
}

section.profile-main .container .profile_posts .post_item .header .user_info .user_avatar {
  margin-right: 1rem;
  background: #f3f3f3;
  border-radius: 20px;
  font-size: 19px;
  height: 45px;
  width: 45px;
  display: grid;
  place-content: center;
}

section.profile-main .container .profile_posts .post_item .header i.menu {
  color: #65676b;
  font-size: 18px;
  height: 35px;
  width: 35px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
}

section.profile-main .container .profile_posts .post_item .header i.menu:hover {
  background-color: #f0f2f5;
}

section.profile-main .container .profile_posts .post_item .content {
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
  padding-top: 0;
}

section.profile-main .container .profile_posts .post_item .post_image {
  width: 100%;
}

section.profile-main .container .profile_posts .post_item .post_footer .reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

section.profile-main .container .profile_posts .post_item .post_footer .reactions p {
  color: #65676b;
}

section.profile-main .container .profile_posts .post_item .post_footer .reactions .like:hover, section.profile-main .container .profile_posts .post_item .post_footer .reactions .share:hover, section.profile-main .container .profile_posts .post_item .post_footer .reactions .comment:hover {
  text-decoration: underline;
  cursor: pointer;
}

section.profile-main .container .profile_posts .post_item .post_footer .reactions .comment {
  margin-right: 1rem;
}

section.profile-main .container .profile_posts .post_item .post_footer .action-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #c9c9c9;
  margin: 0 16px;
}

section.profile-main .container .profile_posts .post_item .post_footer .action-buttons button {
  font-size: 16px;
  width: 32%;
  padding: 7px 0;
  border: none;
  background: transparent;
  color: #65676b;
  cursor: pointer;
}

section.profile-main .container .profile_posts .post_item .post_footer .action-buttons button i {
  margin-right: 10px;
  font-size: 18px;
}

section.profile-main .container .profile_posts .post_item .post_footer .action-buttons button:hover {
  background-color: #f0f2f5;
}

section.profile-main .container .profile_posts .post {
  box-shadow: 0px 0px 5px #dddddd5e;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=profile.css.map */