@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
/************* Header **************/
.divider {
  height: 1px;
  width: 95%;
  background: #ededed;
  margin: 10px auto;
}

/************* text  **************/
.heading_1 {
  font-size: 22px;
  font-weight: 700;
}

.heading_2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.text_primary {
  color: #050505;
}

.text_secondary {
  color: #65676b;
}

.text_theme {
  color: #1b74e4;
}

.text_xlg {
  font-size: 1.5rem;
}

.text_lg {
  font-size: 1.06rem;
}

.text_m {
  font-size: .9375rem;
}

.text_s {
  font-size: .8125rem;
}

.font_weight_700 {
  font-weight: 700;
}

.font_weight_600 {
  font-weight: 600;
}

.font_weight_500 {
  font-weight: 500;
}

.font_weight_400 {
  font-weight: 400;
}

.font_weight_300 {
  font-weight: 300;
}

.bg_secondary {
  background-color: #f0f2f5;
}

/************* Avataras **************/
.avatar_user_60 {
  display: grid;
  place-content: center;
  border-radius: 50%;
  background-color: #e0e0e0;
  width: 60px;
  height: 60px;
  font-size: 40px;
}

.avatar_round_56 {
  display: grid;
  place-content: center;
  border-radius: 50%;
  font-size: 25px;
  height: 56px;
  width: 56px;
}

.avatar_round_48 {
  display: grid;
  place-content: center;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  font-size: 20px;
}

.avatar_round_40 {
  display: grid;
  place-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 18px;
}

.avatar_round_36 {
  display: grid;
  place-content: center;
  border-radius: 50%;
  font-size: 22px;
  height: 36px;
  width: 36px;
}

.avatar_round_32 {
  display: grid;
  place-content: center;
  border-radius: 50%;
  font-size: 16px;
  height: 32px;
  width: 32px;
}

.avatar_round_28 {
  display: grid;
  place-content: center;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  font-size: 15px;
}

.avatar_round_20 {
  display: grid;
  place-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
}

.avatar_round_16 {
  display: grid;
  place-content: center;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
}

/************* Online/Offline indicator *************/
.online, .offline {
  position: absolute;
  font-size: 10px;
  border: 2px solid white;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.online {
  color: #1ecc1e;
}

.offline {
  color: #7e7e7e;
}

.user_avatar {
  position: relative;
}

.user_avatar .online {
  position: absolute;
  right: 0px;
  bottom: 7px;
}

#bookmark_toggle_btn {
  display: none;
}

.btn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.btn.w-full {
  display: block;
  text-align: center;
}

.btn.btn-theme {
  background-color: #1b74e4;
  color: #fff;
}

.btn.btn-theme:hover {
  background-color: #166ed8;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 1;
  background: #fff;
  box-shadow: 0px 3px 5px #00000012;
  padding-right: 15px;
}

header i {
  cursor: pointer;
}

.profile-icons {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.profile-icons .avatar_round_28 {
  background-color: #b8b8b8;
}

.profile-icons .avatar_round_40 {
  background-color: #e4e6eb;
}

.profile-icons .avatar_round_40.active {
  color: #1b74e4;
  background-color: #afd3ff;
}

.mega-menu-btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
}

.mega-menu-btn i {
  flex: 1;
  font-size: 5px;
  display: grid;
  place-content: center;
}

#create_menu_btn {
  display: none;
}

.create_menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fff;
  height: 0;
  width: 360px;
  border-radius: 10px;
  visibility: hidden;
  user-select: none;
  box-shadow: 0 4px 10px #0000003b;
  padding: 10px;
}

.create_menu .create-box {
  display: flex;
  gap: .6rem;
  padding: 10px 5px;
  border-radius: 8px;
  cursor: pointer;
}

.create_menu .create-box:hover {
  background: #f0f2f5;
}

.create_menu.show-cm {
  height: auto;
  visibility: visible;
}

.create_menu .avatar_round_36 {
  background-color: #e4e6eb;
}

.create_menu .menu-title {
  font-size: 22px;
  font-weight: 600;
  color: #090909;
  margin: 10px;
}

.user-profile-link {
  display: flex;
  gap: 0.35rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 2px 10px 2px 0;
  cursor: pointer;
  border-radius: 15px;
}

.user-profile-link:hover {
  background-color: #eaeaea;
}

.user-profile-link.active {
  background-color: #b0d3ff;
  border-radius: 35px;
}

.logo-wrapper {
  position: relative;
  width: 320px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 10px 0 15px;
}

.logo-wrapper.visible_lw {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.173);
}

.logo-wrapper .logo-icon {
  color: #1b74e4;
  font-size: 2.3rem;
  display: inline;
}

.logo-wrapper .logo-icon.hide_li {
  display: none;
}

.logo-wrapper .form-wrapper {
  position: relative;
  flex-grow: 1;
}

.logo-wrapper .search-input-feild {
  background-color: #f0f2f5;
  border: none;
  outline: none;
  padding: 10px 5px 10px 40px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
}

.logo-wrapper .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  color: gray;
  font-size: 1rem;
}

.logo-wrapper #search-close-btn {
  color: gray;
  font-size: 1.2rem;
  margin-right: .5rem;
  display: none;
}

.logo-wrapper #search-close-btn.show_scb {
  display: inline;
}

.logo-wrapper .recent-search {
  position: fixed;
  top: 60px;
  left: 0;
  width: 320px;
  height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.066);
  background-color: white;
  visibility: hidden;
  max-height: 500px;
  padding: 0px 10px 0px 10px;
}

.logo-wrapper .recent-search::-webkit-scrollbar {
  width: 3px;
}

.logo-wrapper .recent-search::-webkit-scrollbar-track {
  background: transparent;
}

.logo-wrapper .recent-search::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.logo-wrapper .recent-search:hover::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.logo-wrapper .recent-search::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.logo-wrapper .recent-search.show-rs {
  visibility: visible;
  height: 70vh;
  padding-top: 10px;
}

.logo-wrapper .term {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 7px;
  margin-bottom: .5rem;
  border-radius: 5px;
  cursor: pointer;
}

.logo-wrapper .term:hover {
  background: #dfdfdf;
}

.logo-wrapper .term-text {
  display: flex;
  align-items: center;
}

.logo-wrapper .term-text i {
  margin-right: 12px;
  font-size: 30px;
}

.logo-wrapper .remove-rs-term {
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.logo-wrapper .remove-rs-term:hover {
  background: #bfbcbc;
}

.logo-wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 5px;
}

.logo-wrapper .search-history-edit-btn {
  border: none;
  background: transparent;
  padding: 8px 11px;
  border-radius: 4px;
  cursor: pointer;
  color: #1b74e4;
}

.logo-wrapper .search-history-edit-btn:hover {
  background-color: #dfdfdf;
}

.logo-wrapper .form-2 {
  position: relative;
  flex-grow: 1;
}

.logo-wrapper .form-wrapper-2 {
  display: none;
}

.logo-wrapper .search-icon-2 {
  display: none;
  place-content: center;
  height: 38px;
  width: 38px;
  background: #f0f2f5;
  border-radius: 50%;
  font-size: 1rem;
}

.page-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.page-icons .page_link {
  margin-right: .5rem;
  margin-left: .5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 100%;
  display: grid;
  place-content: center;
}

.page-icons .page_link.active {
  border-bottom: 3px solid #1b74e4;
}

.page-icons .page_link.active .page-icon {
  color: #1b74e4;
}

.page-icons .page-icon {
  font-size: 22px;
  color: #65676b;
  height: 56px;
  width: 102px;
  display: grid;
  place-content: center;
}

.page-icons .page-icon:hover {
  background-color: #f0f2f5;
  border-radius: 5px;
}

.notification-menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fff;
  height: 0;
  width: 360px;
  border-radius: 10px;
  visibility: hidden;
  user-select: none;
  box-shadow: 0 4px 10px #0000003b;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.notification-menu.show-nm {
  visibility: visible;
  height: 90vh;
}

.notification-menu .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.notification-menu .avatar_round_32:hover {
  background: #dfdfdf;
}

.notification-menu .filter-btns {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
}

.notification-menu .filter-btns button.active {
  background: #afd3ff6e;
  color: blue;
}

.notification-menu .notification-type {
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-menu .noti-wrapper {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.notification-menu .noti-box {
  position: relative;
  display: flex;
  gap: .6rem;
  padding: 10px;
  margin-bottom: .7rem;
  border-radius: 10px;
}

.notification-menu .noti-box:hover {
  background: #f0f2f5;
}

.notification-menu .indicator {
  position: absolute;
  right: 10px;
  font-size: 10px;
  color: #1b74e4;
  align-self: center;
}

.notification-menu .avatar_round_56 {
  border: 1px solid #65676b;
}

.notification-menu .fr-buttons {
  margin-top: 10px;
}

.notification-menu article {
  align-self: flex-start;
  font-weight: 300;
}

.messenger-menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fff;
  height: 0;
  width: 360px;
  border-radius: 10px;
  visibility: hidden;
  user-select: none;
  box-shadow: 0 4px 10px #0000003b;
}

.messenger-menu.show-mm {
  height: 90vh;
  visibility: visible;
}

.messenger-menu .messenger-menu__wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 93%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.messenger-menu .messenger-menu__wrapper::-webkit-scrollbar {
  width: 3px;
}

.messenger-menu .messenger-menu__wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.messenger-menu .messenger-menu__wrapper::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.messenger-menu .messenger-menu__wrapper:hover::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.messenger-menu .messenger-menu__wrapper::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.messenger-menu .messenger-menu__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.messenger-menu .header_icons {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.messenger-menu .avatar_round_32 {
  color: #65676b;
}

.messenger-menu .avatar_round_32:hover {
  background: #f0f2f5;
}

.messenger-menu form {
  padding: 10px;
}

.messenger-menu form input {
  width: 100%;
  padding: 12px 20px;
  border: none;
  outline: none;
  background: #f0f2f5;
  border-radius: 23px;
  font-size: 15px;
}

.messenger-menu .messenger-menu__body {
  padding: 0 10px;
}

.messenger-menu .message_box {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 10px 6px;
  border-radius: 10px;
  cursor: pointer;
}

.messenger-menu .message_box:hover {
  background-color: #f3f3f3;
}

.messenger-menu .avatar_round_56 {
  background-color: #eaeaea;
}

.messenger-menu .sent_msg {
  right: 4px;
  bottom: 12px;
  position: absolute;
  border: 1px solid gray;
}

.messenger-menu .delivered_msg {
  right: 4px;
  bottom: 12px;
  position: absolute;
  font-size: 15px;
  color: gray;
}

.messenger-menu .seen_msg {
  right: 4px;
  bottom: 12px;
  position: absolute;
  color: #ebebeb;
  background: #868686;
}

.messenger-menu .messenger-link {
  display: block;
  text-align: center;
  position: sticky;
  background: #fff;
  width: 100%;
  padding: 10px;
  color: #1b74e4;
}

.messenger-menu .messenger-link:hover {
  text-decoration: underline;
}

.user-menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fff;
  height: 0;
  width: 360px;
  border-radius: 10px;
  visibility: hidden;
  user-select: none;
  box-shadow: 0 4px 10px #0000003b;
  padding: 10px;
  overflow: hidden;
}

.user-menu .item {
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 10px;
  cursor: pointer;
}

.user-menu .item:hover {
  background-color: #f0f2f5;
}

.user-menu .profile-link {
  padding: 7px;
}

.user-menu .feedback {
  padding: 5px;
}

.user-menu .settings {
  padding: 8px 15px 8px 5px;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.user-menu .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.user-menu .logout {
  padding: 8px 5px;
}

.user-menu .footer-links {
  margin-top: 15px;
}

.user-menu .footer-links a:hover {
  text-decoration: underline;
}

.user-menu.show-um {
  height: 480px;
  visibility: visible;
}

.user-menu .avatar_round_36 {
  background: #d3d3d3;
}

.mega-menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fff;
  height: 0;
  width: 360px;
  border-radius: 10px;
  visibility: hidden;
  user-select: none;
  box-shadow: 0 4px 10px #0000003b;
  width: 600px;
  overflow: hidden;
  background-color: #f0f2f5;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 10px 10px 10px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.mega-menu::-webkit-scrollbar {
  width: 3px;
}

.mega-menu::-webkit-scrollbar-track {
  background: transparent;
}

.mega-menu::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.mega-menu:hover::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.mega-menu::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.mega-menu:hover {
  overflow-y: scroll;
}

.mega-menu .menu-title {
  padding: 10px 0;
  position: sticky;
  top: 0;
  background-color: #f0f2f5;
}

.mega-menu .menu {
  background-color: white;
  width: 340px;
  border-radius: 10px;
  padding: 12px;
}

.mega-menu .menu-form {
  margin-bottom: 2rem;
}

.mega-menu .menu-form input {
  border: none;
  outline: none;
  background: #f0f2f5;
  width: 100%;
  padding: 10px 12px;
  border-radius: 22px;
}

.mega-menu .social_item {
  display: flex;
  gap: 1rem;
  padding: 10px;
  margin-bottom: .5rem;
  border-radius: 10px;
}

.mega-menu .social_item:hover {
  background-color: #f0f2f5;
}

.mega-menu .social_item .group {
  color: #4f92ff;
}

.mega-menu .social_item .friends {
  color: #65676b;
}

.mega-menu .social_item .event {
  color: #ff4a68;
}

.mega-menu .entertainment {
  margin-top: 1rem;
}

.mega-menu .create {
  position: fixed;
  right: 25px;
  top: 110px;
  width: 220px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.mega-menu .create_item {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 8px;
  border-radius: 10px;
}

.mega-menu .create_item:hover {
  background: #f0f2f5;
}

.mega-menu .avatar_round_36 {
  background: #eaeaea;
}

.mega-menu.show-mega-menu {
  height: 90vh;
  visibility: visible;
}

.page-main-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-top: 65px auto 0 auto;
}

.page-main-content .left-col {
  width: 360px;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.147);
  padding: 10px 10px 10px 15px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.page-main-content .col-wrraper {
  position: fixed;
  top: 80px;
  width: 330px;
}

.page-main-content .main-col {
  width: 60%;
  margin: 85px auto 0;
}

.page-main-content .marketplace-main-col {
  width: 90%;
  max-width: 1800px;
  margin: 85px auto 0;
  padding: 0 32px;
}

.page-main-content .group-main-col {
  max-width: 1200px;
  width: 70%;
  margin: 85px auto 0;
  display: flex;
  gap: 20px;
}

.page-main-content .groups-feed {
  order: 1;
  width: 60%;
}

.page-main-content .groups-slider {
  order: 2;
  width: 40%;
}

.page-main-content .game-main-col {
  margin-top: 85px;
  flex-grow: 1;
}

.page-main-content .game-main-col .posts-wrapper, .page-main-content .game-main-col .game-slider-wrapper {
  max-width: 800px;
  width: 98%;
  margin: 0 auto;
}

@media screen and (max-width: 1270px) {
  .group-main-col {
    flex-direction: column;
  }
  .group-main-col .groups-feed {
    order: 2;
    width: 100%;
  }
  .group-main-col .groups-slider {
    order: 1;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .page-main-content .left-col {
    display: none;
  }
  .page-main-content .group-main-col, .page-main-content .main-col {
    width: 98%;
  }
  .page-main-content .marketplace-main-col {
    width: 98%;
    padding: 0 10px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f2f5;
  scroll-behavior: smooth;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.post {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.159);
  border-radius: 6px;
  margin-bottom: 12px;
}

.post .header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.post .avatar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.post .avatar_round_36 {
  font-size: 18px;
}

.post .avatar_round_48 {
  background-color: lightgray;
}

.post .avatar_round_36:hover {
  background-color: #f0f2f5;
  cursor: pointer;
}

.post .description {
  padding: 10px;
}

.post .post-media {
  width: 100%;
}

.post .footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.post .footer-item {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 28%;
  justify-content: center;
  padding: 10px;
  border-radius: 3px;
  font-size: 18px;
}

.post .footer-item:hover {
  background-color: lightblue;
}

.post .page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.post .action-btns, .post .counts {
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-header-dropdown {
  background-color: white;
  padding: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.136);
  border-radius: 8px;
  position: absolute;
  top: 45px;
  right: 10px;
  display: none;
}

.post-header-dropdown.show {
  display: block;
}

.post-header-dropdown .list_item {
  display: flex;
  gap: 10px;
  padding: 8px 5px;
  border-radius: 8px;
  cursor: pointer;
}

.post-header-dropdown .list_item:hover {
  background-color: #f0f2f5;
}

.post-header-dropdown .list-item-icon {
  margin-top: 3px;
  color: #5f5f5f;
}

.collapsed-comments-wrraper {
  padding: 10px;
  display: none;
}

.collapsed-comments-wrraper.show {
  display: block;
}

.collapsed-comments-wrraper .write-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.collapsed-comments-wrraper .input-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f2f5;
  border-radius: 15px;
}

.collapsed-comments-wrraper .input-wrapper input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
  flex-grow: 1;
}

.collapsed-comments-wrraper .comments-filter {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
  z-index: 111;
}

.collapsed-comments-wrraper .comments-filter-btn {
  cursor: pointer;
  user-select: none;
}

.collapsed-comments-wrraper .comments-filter-menu {
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 111;
  width: 250px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 1px 10px #00000033;
  border-radius: 8px;
  display: none;
}

.collapsed-comments-wrraper .comments-filter-menu.show {
  display: block;
}

.collapsed-comments-wrraper .comments-filter-item {
  margin-bottom: 5px;
  padding: 10px 7px;
  cursor: pointer;
  border-radius: 8px;
}

.collapsed-comments-wrraper .comments-filter-item:hover {
  background-color: #f0f2f5;
}

.collapsed-comments-wrraper .given-comments {
  margin-top: 15px;
}

.collapsed-comments-wrraper .given-comments .dropdown-btn {
  color: transparent;
  cursor: pointer;
}

.collapsed-comments-wrraper .given-comments .dropdown-btn:hover {
  background-color: #f0f2f5;
}

.collapsed-comments-wrraper .given-comments .given-comments-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.collapsed-comments-wrraper .given-comments .given-comments-item:hover .dropdown-btn {
  color: gray;
}

.collapsed-comments-wrraper .given-comments .avatar_round_32 {
  flex-shrink: 0;
}

.collapsed-comments-wrraper .given-comments .comment-text-avatar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.collapsed-comments-wrraper .given-comments .comment-messege {
  background-color: #f0f2f5;
  padding: 8px 10px;
  border-radius: 20px;
  margin-top: 2px;
}

/************* Header **************/
.page-bookmarks-header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-bookmarks-header .search-box {
  position: relative;
  margin: 10px 0;
}

.page-bookmarks-header .search-box .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.page-bookmarks-header .search-box input {
  width: 100%;
  border: none;
  outline: none;
  background: #f0f2f5;
  font-size: 16px;
  padding: 10px 10px 10px 35px;
  border-radius: 20px;
}

.page-bookmarks {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 76vh;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.page-bookmarks::-webkit-scrollbar {
  width: 3px;
}

.page-bookmarks::-webkit-scrollbar-track {
  background: transparent;
}

.page-bookmarks::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.page-bookmarks:hover::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.page-bookmarks::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.bookmark-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1px;
  padding: 10px 10px 10px 5px;
  border-radius: 9px;
  cursor: pointer;
}

.bookmark-item:hover {
  background-color: #f0f2f5;
}

.following_users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.following_users button {
  background: transparent;
  font-size: 16px;
  font-weight: 400;
}

.following_users button:hover {
  background-color: #f0f2f5;
}

.create-new-list {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #def7ff;
  border-radius: 10px;
  color: #1459c2;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.location-filter {
  margin: 15px 0;
}

.location-filter p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.location-filter button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #1b74e4;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
}

.marketplace-category {
  border-bottom: 1px solid #dadada;
}

.marketplace-category .filter-text {
  color: #1b74e4;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
}

.marketplace-category .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
}

.marketplace-category .header-title {
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 600;
}

.marketplace-category .products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.marketplace-category .product-card {
  margin-bottom: 30px;
}

.marketplace-category img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.marketplace-category .filter-products {
  display: flex;
  align-items: center;
  gap: 10px;
}

.joined-group {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 8px;
}

.joined-group:hover {
  background: #f0f2f5;
}

.joined-group img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.joined-group .pinned-group {
  margin-left: auto;
  transform: rotate(50deg);
  color: gray;
}

.group-filter-title {
  margin: 5px 0 20px;
}

.groups-slider .slider-wrapper {
  position: sticky;
  top: 85px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.159);
  background-color: #fff;
  border-radius: 8px;
  padding-bottom: 10px;
}

.groups-slider .groups-slider-header {
  padding: 10px 16px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.groups-slider .slider-item {
  width: 90%;
  margin: 10px auto;
  box-shadow: 0 0 2px #0000002b;
  border-radius: 10px;
  padding-bottom: 15px;
}

.groups-slider .slider-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.groups-slider .slider-content {
  padding: 8px 10px 16px;
}

.groups-slider .join-link {
  padding: 0 10px;
}

/************* Header **************/
.game-slider-wrapper {
  margin-bottom: 15px;
}

.game-slider-wrapper .slider-container {
  background: #fff;
  border-radius: 8px;
  padding: 12px 0;
  margin-bottom: 10px;
  position: relative;
}

.game-slider-wrapper .slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.game-slider-wrapper .slider {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.game-slider-wrapper .slider::-webkit-scrollbar {
  width: 3px;
}

.game-slider-wrapper .slider::-webkit-scrollbar-track {
  background: transparent;
}

.game-slider-wrapper .slider::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.game-slider-wrapper .slider:hover::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.game-slider-wrapper .slider::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.game-slider-wrapper .slide {
  width: 200px;
  cursor: grab;
}

.game-slider-wrapper img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.game-slider-wrapper .prev-btn, .game-slider-wrapper .next-btn {
  border: none;
  border-radius: 50%;
  outline: none;
  background: lightblue;
  font-size: 22px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: grid;
  place-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.game-slider-wrapper .prev-btn {
  left: 15px;
}

.game-slider-wrapper .next-btn {
  right: 15px;
}

.create_post {
  padding: 20px 10px 5px 10px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.create_post .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0f2f5;
}

.create_post .input i {
  margin-right: 1rem;
  background: #f3f3f3;
  padding: 10px 12px;
  border-radius: 20px;
  font-size: 19px;
}

.create_post .input input {
  flex-grow: 1;
  border-radius: 24px;
  border: none;
  background: #eaeaea;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}

.create_post .input input:hover {
  background: #eaeaea;
}

.create_post .actions-btns {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.create_post .actions-btns > div {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 4px;
  width: 33%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_post .actions-btns > div .live {
  color: lightcoral;
}

.create_post .actions-btns > div .photo {
  color: lightgreen;
}

.create_post .actions-btns > div .feeling {
  color: orange;
}

.create_post .actions-btns > div span {
  color: #65676b;
}

.create_post .actions-btns > div i {
  font-size: 20px;
  margin-right: 1rem;
}

.create_post .actions-btns > div:hover {
  background-color: #f0f2f5;
}

/*************** Home Page Layout ******************/
.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 99%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
}

.main-content .left-col {
  position: sticky;
  top: 90px;
  width: 30%;
  height: 88vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.main-content .left-col::-webkit-scrollbar {
  width: 3px;
}

.main-content .left-col::-webkit-scrollbar-track {
  background: transparent;
}

.main-content .left-col::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.main-content .left-col:hover::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.main-content .left-col::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.main-content .right-col {
  position: sticky;
  top: 90px;
  width: 25%;
  height: 88vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.main-content .right-col::-webkit-scrollbar {
  width: 3px;
}

.main-content .right-col::-webkit-scrollbar-track {
  background: transparent;
}

.main-content .right-col::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.main-content .right-col:hover::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.main-content .right-col::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.main-content .main-col {
  width: 40%;
}

/*************** Left Panel items ******************/
.left-col .bookmarks_item {
  cursor: pointer;
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-bottom: .5rem;
  padding: 7px 5px;
}

.left-col .bookmarks_item:hover {
  background-color: #eaeaea;
}

.left-col .bookmarks_item .text {
  font-size: 14px;
  font-weight: 500;
}

.left-col .bookmarks_item .text .dot {
  font-size: 7px;
  height: 0;
  width: 0;
  display: inline;
  margin-right: 3px;
}

.left-col .bookmarks_item .text span {
  display: block;
  color: #1b74e4;
  font-size: 10px;
}

.left-col .see_more_bm {
  height: 0;
  visibility: hidden;
}

.left-col .see_more_bm.show_see_more_bm {
  height: auto;
  visibility: visible;
}

/*************** Right Panel items ******************/
.sponsered-content {
  padding: 10px 0;
}

.sponsered-content .sponser__title {
  padding-bottom: 5px;
}

.sponsered-content .sponser_cart {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: .5rem;
  cursor: pointer;
}

.sponsered-content .sponser_cart:hover {
  background-color: #dfdfdf;
}

.sponsered-content .sponser_cart:hover .avatar_round_32 {
  display: grid;
  background-color: #fff;
}

.sponsered-content img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border-radius: 5px;
}

.sponsered-content .avatar_round_32 {
  position: absolute;
  right: 10px;
  top: 25px;
  display: none;
}

.group_suggestion_wrapper .gs_card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: .5rem;
}

.group_suggestion_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.group_suggestion_wrapper .gs_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-bottom: 13px;
}

.group_suggestion_wrapper .header_text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.group_suggestion_wrapper .full_width_btn {
  color: #fff;
  background-color: #1b74e4;
}

/*************** Contacts ********************/
.contacts .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  padding: 5px 0;
}

.contacts .header .icons {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.contacts .header .avatar_round_32 {
  color: grey;
}

.contacts .header .avatar_round_32:hover {
  background: #e4e6eb;
}

.contacts .contact_item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border-radius: 10px;
}

.contacts .contact_item:hover {
  background-color: #e3e3e3;
}

.contacts .avatar_round_36 {
  border: 1px solid grey;
}

.contacts .online, .contacts .offline {
  bottom: 15px;
  left: 40px;
}

/************************ Media Queries ********************/
@media screen and (max-width: 1260px) {
  .user-profile-link {
    display: none;
  }
  .logo-wrapper .form-1 {
    display: none;
  }
  .logo-wrapper .search-icon {
    background-color: #f0f2f5;
    height: 37px;
    width: 38px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-size: 20px;
    left: 0;
  }
  .logo-wrapper .recent-search {
    top: 0;
  }
  .logo-wrapper .form-wrapper-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
    padding: 0 10 10 15px;
  }
  .logo-wrapper .form-wrapper-2 input {
    flex-grow: 1;
  }
  .logo-wrapper #search-close-btn-2 {
    color: gray;
    font-size: 1.2rem;
  }
  .logo-wrapper .search-icon-2 {
    display: grid;
  }
}

@media screen and (max-width: 1100px) {
  .main-content .left-col {
    display: none;
  }
  .main-content .main-col {
    width: 65%;
    margin-left: 0;
  }
  .main-content .right-col {
    width: 30%;
  }
  #game_btn {
    display: none;
  }
  #bookmark_toggle_btn {
    display: grid;
  }
  .logo-icons .logo {
    margin-right: 7px;
  }
  .logo-icons form.temp-form {
    display: none;
  }
  .logo-icons #logo-search-btn {
    background: #f0f0f0;
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
  }
}

@media screen and (max-width: 900px) {
  .page-icons .page-icon {
    width: 65px;
  }
  .main-content .left-col {
    display: none;
  }
  .main-content .main-col {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content .right-col {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  header {
    justify-content: none;
  }
  header #mega-menu-btn {
    display: none;
  }
  .profile-icons {
    margin-left: auto;
  }
  #create_menu_btn {
    display: grid;
  }
  .logo-wrapper {
    width: auto;
  }
  .page-icons .page_link {
    display: none;
  }
  .main-content .main-col {
    width: 95%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */