@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f2f5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.white-menu {
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.card {
  box-shadow: 0px 0px 10px #a7a7a75e;
  background-color: #fff;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

#bookmark_toggle_btn {
  display: none;
}

.divider {
  height: 1px;
  width: 95%;
  background: #bebebe;
  margin: 10px 0;
}

.thin-scrollbar {
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.thin-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.primary-btn, .secondary-btn {
  border: none;
  outline: none;
  padding: 9px 20px;
  border-radius: 9px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
}

.primary-btn {
  background-color: #2e85ee;
  color: #fff;
}

.primary-btn:hover {
  background-color: #1b74e4;
}

.secondary-btn {
  background-color: #cbd6e4;
  color: #050505;
}

.secondary-btn:hover {
  background-color: #b4bac4;
}

/************* Header **************/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 1111;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #fff;
  box-shadow: 0px 3px 5px #dfdfdf;
  padding: 0 15px;
  margin-bottom: .5rem;
}

header #create_menu_btn {
  display: none;
}

header .logo-icons {
  display: flex;
  align-items: center;
}

header .logo-icons .logo {
  margin-right: -10px;
  color: #1b74e4;
  font-size: 2.3rem;
}

header .logo-icons i#logo-search-btn {
  display: none;
}

header .logo-icons input {
  padding: 8px 5px 8px 37px;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  width: 208px;
  font-weight: 300;
}

header .logo-icons form.temp-form {
  display: flex;
  align-items: center;
}

header .logo-icons form.temp-form i.search {
  transform: translate(30px, 1px);
  font-size: 19px;
  color: #888888;
}

header .logo-icons .recent-search {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 320px;
  height: 0;
  visibility: hidden;
  max-height: 500px;
  padding: 10px 20px 10px 10px;
}

header .logo-icons .recent-search.show-rs {
  height: auto;
  visibility: visible;
}

header .logo-icons .recent-search form.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 5px;
}

header .logo-icons .recent-search form.form input {
  width: 90%;
  font-size: 15px;
  padding: 10px 18px;
}

header .logo-icons .recent-search .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 5px;
}

header .logo-icons .recent-search .header h4 {
  font-weight: 500;
}

header .logo-icons .recent-search .header button {
  border: none;
  background: transparent;
  padding: 8px 11px;
  border-radius: 4px;
  cursor: pointer;
  color: #1b74e4;
}

header .logo-icons .recent-search .header button:hover {
  background-color: #dfdfdf;
}

header .logo-icons .recent-search .search-terms .term {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 7px;
  margin-bottom: .5rem;
  border-radius: 5px;
  cursor: pointer;
}

header .logo-icons .recent-search .search-terms .term:hover {
  background: #dfdfdf;
}

header .logo-icons .recent-search .search-terms .term p {
  display: flex;
  align-items: center;
}

header .logo-icons .recent-search .search-terms .term p i {
  margin-right: 12px;
  font-size: 30px;
}

header .logo-icons .recent-search .search-terms .term > i {
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

header .logo-icons .recent-search .search-terms .term > i:hover {
  background: #bfbcbc;
}

header .page-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header .page-icons a {
  margin-right: .5rem;
  margin-left: .5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 100%;
  display: grid;
  place-content: center;
}

header .page-icons a i {
  font-size: 22px;
  color: #65676b;
  height: 56px;
  width: 102px;
  display: grid;
  place-content: center;
}

header .page-icons a i:hover {
  background-color: #f0f2f5;
  border-radius: 5px;
}

header .page-icons a.active {
  border-bottom: 3px solid #1b74e4;
}

header .page-icons a.active i {
  color: #1b74e4;
}

header .profile-icons {
  display: flex;
  align-items: center;
}

header .profile-icons .user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 1px 15px 1px 0;
  cursor: pointer;
}

header .profile-icons .user i {
  margin-right: .5rem;
  margin-left: 1px;
}

header .profile-icons .user.active {
  background-color: #b0d3ff;
  border-radius: 35px;
}

header .profile-icons i {
  margin-left: 8px;
  color: #000;
  font-size: 15px;
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  border: none;
}

header .profile-icons i.active {
  background-color: #caecff;
  color: #0541a4;
}

header i {
  cursor: pointer;
}

header .user-menu {
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: #fff;
  height: 0;
  width: 360px;
  border-radius: 10px;
  padding: .5rem;
  visibility: hidden;
  user-select: none;
  box-shadow: 3px 3px 5px #7979797d, -3px -1px 5px #7979797d;
}

header .user-menu .item {
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 10px;
  cursor: pointer;
}

header .user-menu .item i {
  background-color: #e6e6e6;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

header .user-menu .item p {
  font-size: 16px;
  font-weight: 500;
}

header .user-menu .item span {
  font-size: 14px;
  font-weight: 300;
  color: #65676b;
}

header .user-menu .item:hover {
  background-color: #f1f1f1;
}

header .user-menu .profile-link {
  padding: 10px;
}

header .user-menu .profile-link i {
  width: 65px;
  height: 65px;
  font-size: 40px;
}

header .user-menu .feedback {
  padding: 5px 10px;
}

header .user-menu .feedback i {
  width: 35px;
  height: 35px;
  font-size: 24px;
}

header .user-menu .feedback span {
  font-size: 12px;
  font-weight: 300;
}

header .user-menu .settings {
  padding: 8px 10px;
  margin-bottom: .5rem;
  justify-content: space-between;
}

header .user-menu .settings .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .user-menu .settings .name i {
  width: 35px;
  height: 35px;
  font-size: 24px;
  margin-right: 5px;
}

header .user-menu .settings > i {
  font-size: 16px;
  background-color: transparent !important;
}

header .user-menu .logout {
  padding: 8px 10px;
}

header .user-menu .logout i {
  width: 35px;
  height: 35px;
  font-size: 24px;
  margin-right: 5px;
}

header .user-menu .footer-links {
  font-size: 13px;
  padding: 10px;
}

header .user-menu .footer-links span {
  font-size: 20px;
}

header .user-menu .footer-links a:hover {
  text-decoration: underline;
}

header .user-menu.show-um {
  height: 480px;
  visibility: visible;
}

header .mega-menu {
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: #fff;
  height: 0;
  width: 360px;
  border-radius: 10px;
  padding: .5rem;
  visibility: hidden;
  user-select: none;
  box-shadow: 3px 3px 5px #7979797d, -3px -1px 5px #7979797d;
  width: 600px;
  background-color: #f0f2f5;
}

header .mega-menu .content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

header .mega-menu .content .menu {
  background-color: white;
  padding: 10px;
  position: fixed;
  overflow-x: hidden;
  height: 620px;
  width: 340px;
  border-radius: 10px;
}

header .mega-menu .content .menu:hover {
  overflow-y: scroll;
}

header .mega-menu .content .menu .menu-form {
  margin-bottom: 2rem;
}

header .mega-menu .content .menu .menu-form input {
  border: none;
  outline: none;
  background: #f0f2f5;
  width: 100%;
  padding: 10px 12px;
  border-radius: 22px;
}

header .mega-menu .content .menu .social .title {
  color: #050505;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 1rem;
}

header .mega-menu .content .menu .social .item {
  display: flex;
  gap: 1rem;
  padding: 10px;
  margin-bottom: .5rem;
  border-radius: 10px;
}

header .mega-menu .content .menu .social .item .name {
  color: #050505;
}

header .mega-menu .content .menu .social .item .about {
  font-size: 13px;
  color: #65676b;
}

header .mega-menu .content .menu .social .item:hover {
  background-color: #f0f2f5;
}

header .mega-menu .content .menu .social .item i {
  color: #65676b;
  font-size: 32px;
}

header .mega-menu .content .menu .social .item .group {
  color: #4f92ff;
}

header .mega-menu .content .menu .social .item .friends {
  color: #65676b;
}

header .mega-menu .content .menu .social .item .event {
  color: #ff4a68;
}

header .mega-menu .content .menu .entertainment {
  margin-top: 1rem;
}

header .mega-menu .content .create {
  position: fixed;
  right: 23px;
  width: 220px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

header .mega-menu .content .create .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

header .mega-menu .content .create .item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
}

header .mega-menu .content .create .item:hover {
  background: #f0f2f5;
}

header .mega-menu .content .create .item span {
  font-weight: 500;
  font-size: 16px;
}

header .mega-menu .content .create .item i {
  font-size: 22px;
  background: #d6d6d6;
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  margin-right: 1rem;
}

header .mega-menu .content .create .item hr {
  margin: 1rem 0;
}

header .mega-menu.show-mega-menu {
  height: 90vh;
  visibility: visible;
}

header .notification-menu {
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: #fff;
  height: 0;
  width: 360px;
  border-radius: 10px;
  padding: .5rem;
  visibility: hidden;
  user-select: none;
  box-shadow: 3px 3px 5px #7979797d, -3px -1px 5px #7979797d;
}

header .notification-menu.show-nm {
  visibility: visible;
  height: 90vh;
}

header .notification-menu .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

header .notification-menu .header h3 {
  font-size: 20px;
  letter-spacing: 1px;
}

header .notification-menu .header i {
  font-size: 19px;
  height: 30px;
  width: 30px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

header .notification-menu .header i:hover {
  background: #f0f2f5;
}

header .notification-menu .filter-btns {
  margin-bottom: 1rem;
}

header .notification-menu .filter-btns button {
  border: none;
  background: #f0f2f5;
  padding: 9px 15px;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
}

header .notification-menu .filter-btns button.active {
  background-color: lightblue;
}

header .notification-menu .noti-wrapper {
  border-radius: 10px;
  margin-bottom: 1rem;
}

header .notification-menu .noti-wrapper .text {
  display: flex;
  justify-content: space-between;
}

header .notification-menu .noti-wrapper .text p {
  font-size: 18px;
  font-weight: 400;
}

header .notification-menu .noti-wrapper .text a {
  font-size: 16px;
  font-weight: 300;
  color: #1b74e4;
  padding: 9px;
  border-radius: 5px;
}

header .notification-menu .noti-wrapper .text a:hover {
  background-color: #f0f2f5;
}

header .notification-menu .noti-wrapper .noti-box {
  display: flex;
  padding: 10px;
  margin-bottom: .7rem;
  border-radius: 10px;
}

header .notification-menu .noti-wrapper .noti-box:hover {
  background: #f0f2f5;
}

header .notification-menu .noti-wrapper .noti-box i.user {
  font-size: 40px;
  background: #dadada;
  height: 65px;
  width: 65px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

header .notification-menu .noti-wrapper .noti-box article {
  align-self: flex-start;
  font-weight: 300;
}

header .notification-menu .noti-wrapper .noti-box article .user {
  font-weight: 400;
}

header .notification-menu .noti-wrapper .noti-box article .post-time {
  color: #1b74e4;
  font-size: 11px;
  font-weight: 500;
  margin-top: .5rem;
}

header .notification-menu .noti-wrapper .noti-box article .no-of-mf {
  font-size: 13px;
  margin: 5px 0;
}

header .notification-menu .noti-wrapper .noti-box article .btn {
  margin-top: .5rem;
}

header .notification-menu .noti-wrapper .noti-box i.indicator {
  font-size: 10px;
  color: #1b74e4;
  align-self: center;
}

header .messenger-menu {
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: #fff;
  height: 0;
  width: 360px;
  border-radius: 10px;
  padding: .5rem;
  visibility: hidden;
  user-select: none;
  box-shadow: 3px 3px 5px #7979797d, -3px -1px 5px #7979797d;
  overflow-y: auto;
  overflow-x: hidden;
}

header .messenger-menu.show-mm {
  height: 90vh;
  visibility: visible;
}

header .messenger-menu .header {
  display: flex;
  justify-content: space-between;
  margin: .5rem 0 1rem 0;
}

header .messenger-menu .header h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #050505;
}

header .messenger-menu .header .icons {
  display: flex;
  align-items: center;
}

header .messenger-menu .header .icons i {
  margin-left: 5px;
  color: #65676b;
  height: 30px;
  width: 30px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

header .messenger-menu .header .icons i:hover {
  background: #f0f2f5;
}

header .messenger-menu > form {
  margin-bottom: 1rem;
}

header .messenger-menu > form input {
  width: 100%;
  padding: 12px 20px;
  border: none;
  outline: none;
  background: #f0f2f5;
  border-radius: 23px;
  font-size: 15px;
}

header .messenger-menu .friends-message .box {
  position: relative;
  display: flex;
  align-items: center;
  color: #65676b;
  margin-bottom: 1rem;
}

header .messenger-menu .friends-message .box p.last-message {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 300;
}

header .messenger-menu .friends-message .box i {
  font-size: 40px;
  background: #dadada;
  height: 65px;
  width: 65px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

header .messenger-menu .friends-message .box .seen-ind {
  position: absolute;
  top: 15px;
  right: -8px;
  height: 25px;
  width: 25px;
  background: lightgray;
  font-size: 12px;
  display: grid;
  place-content: center;
}

header .messenger-menu .friends-message .box .offline-ind, header .messenger-menu .friends-message .box .online-ind {
  position: absolute;
  left: 57px;
  bottom: 13px;
  height: 0;
  width: 0;
  font-size: 14px;
}

header .messenger-menu .friends-message .box .online-ind {
  color: #1ecc1e;
}

header .messenger-menu .friends-message .box .offline-ind {
  color: #65676b;
}

header .create_menu {
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: #fff;
  height: 0;
  width: 360px;
  border-radius: 10px;
  padding: .5rem;
  visibility: hidden;
  user-select: none;
  box-shadow: 3px 3px 5px #7979797d, -3px -1px 5px #7979797d;
}

header .create_menu h3 {
  font-size: 22px;
  font-weight: 600;
  color: #090909;
  margin: 10px;
}

header .create_menu .create-box {
  display: flex;
  cursor: pointer;
  padding: 14px 10px;
  border-radius: 10px;
}

header .create_menu .create-box:hover {
  background: #eeeeee;
}

header .create_menu .create-box i {
  font-size: 20px;
  height: 38px;
  width: 38px;
  background-color: #e4e6eb;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-right: 8px;
}

header .create_menu .create-box article .name {
  font-size: 16px;
  font-weight: 500;
}

header .create_menu .create-box article span {
  font-size: .8125rem;
  color: #65676b;
}

header .create_menu.show-cm {
  height: 80vh;
  visibility: visible;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: .5rem;
  padding-top: 85px;
  margin-right: 10px;
  margin-left: 10px;
}

/************* Left Panel **************/
.left-panel {
  grid-column: 1/4;
  position: relative;
  background-color: rgba(253, 182, 182, 0);
}

.left-panel .links-wrapper {
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.icon-text-link .link {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  padding: 7px 5px;
}

.icon-text-link .link:hover {
  background-color: #eaeaea;
}

.icon-text-link i {
  display: grid;
  place-content: center;
  font-size: 22px;
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius: 29px;
  margin-right: 6px;
}

.icon-text-link p {
  font-size: 14px;
  font-weight: 500;
}

.icon-text-link p i {
  font-size: 7px;
  height: 0;
  width: 0;
  display: inline;
  margin-right: 3px;
}

.icon-text-link p span {
  display: block;
  color: #1b74e4;
  font-size: 10px;
}

/************************ main ********************/
main {
  grid-column: 4/10;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

main .post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0f2f5;
}

main .post i {
  margin-right: 1rem;
  background: #f3f3f3;
  padding: 10px 12px;
  border-radius: 20px;
  font-size: 19px;
}

main .post input {
  flex-grow: 1;
  border-radius: 24px;
  border: none;
  background: #eaeaea;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}

main .post input:hover {
  background: #eaeaea;
}

main .links {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main .links > div {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 4px;
  width: 33%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .links > div .live {
  color: lightcoral;
}

main .links > div .photo {
  color: lightgreen;
}

main .links > div .feeling {
  color: orange;
}

main .links > div span {
  color: #65676b;
}

main .links > div i {
  font-size: 20px;
  margin-right: 1rem;
}

main .links > div:hover {
  background-color: #f0f2f5;
}

main .posts .card {
  padding: 0;
  margin: 10px 0;
}

main .posts .card img {
  width: 100%;
}

main .posts .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

main .posts .post-header > div {
  flex-grow: 1;
}

main .posts .post-header h4 {
  font-weight: 500;
}

main .posts .post-header p {
  margin-top: 5px;
  color: #65676b;
  font-size: 13px;
}

main .posts .post-header p i {
  font-size: 13px;
}

main .posts .post-header .fb-user {
  font-size: 25px;
  padding: 10px;
  background: #f0f2f5;
  border-radius: 27px;
  margin-right: 12px;
}

main .posts .post-header .menu {
  color: #65676b;
  padding: 10px 12px;
  border-radius: 26px;
  font-size: 18px;
  cursor: pointer;
}

main .posts .post-header .menu:hover {
  background: #f0f2f5;
}

main .posts .post-text {
  padding: 10px 16px;
  line-height: 25px;
  color: #2f2f2f;
  font-weight: 400;
  font-size: 16px;
}

main .posts .post-footer .reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

main .posts .post-footer .reactions p {
  color: #65676b;
}

main .posts .post-footer .reactions .like:hover, main .posts .post-footer .reactions .share:hover, main .posts .post-footer .reactions .comment:hover {
  text-decoration: underline;
  cursor: pointer;
}

main .posts .post-footer .reactions .comment {
  margin-right: 1rem;
}

main .posts .post-footer .action-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #c9c9c9;
  margin: 0 16px;
}

main .posts .post-footer .action-buttons button {
  font-size: 16px;
  width: 32%;
  padding: 7px 0;
  border: none;
  background: transparent;
  color: #65676b;
  cursor: pointer;
}

main .posts .post-footer .action-buttons button i {
  margin-right: 10px;
  font-size: 18px;
}

main .posts .post-footer .action-buttons button:hover {
  background-color: #f0f2f5;
}

.right-panel {
  grid-column: 10/13;
  position: relative;
}

.right-panel .content-wrapper {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.right-panel .sponser {
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
}

.right-panel .sponser .box {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 1rem .6rem;
}

.right-panel .sponser .box img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border-radius: 5px;
}

.right-panel .sponser .box p {
  color: #050505;
  font-size: 16px;
  font-weight: 500;
}

.right-panel .sponser .box a {
  color: #65676b;
  font-size: 13px;
}

.right-panel .sponser .box:hover {
  background-color: #dfdfdf;
}

.right-panel .sponser .box:hover .white-menu {
  background-color: #ffff;
}

.right-panel .sponser .box .white-menu {
  position: absolute;
  right: 10px;
  top: 10px;
}

.right-panel .contact .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #65676b;
  border-top: 1px solid grey;
}

.right-panel .contact .header p {
  font-size: 16px;
  font-weight: 500;
  margin: 1rem 0;
}

.right-panel .contact .header .icons {
  display: flex;
  align-items: center;
}

.right-panel .contact .header .icons i {
  background: transparent;
  font-size: 13px;
  height: 30px;
  width: 30px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.right-panel .contact .header .icons i:hover {
  background: #e4e6eb;
}

.right-panel .contact .link {
  position: relative;
}

.right-panel .contact .link .online, .right-panel .contact .link .offline {
  position: absolute;
  bottom: 13px;
  left: 43px;
  height: 5px;
  width: 5px;
  font-size: 10px;
}

.right-panel .contact .link .online {
  color: #1ecc1e;
}

.right-panel .contact .link .offline {
  color: #7e7e7e;
}

.right-panel .group {
  margin-bottom: 1rem;
}

.right-panel .group .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 13px;
}

.right-panel .group .header .info {
  display: flex;
  align-items: center;
}

.right-panel .group .header .info .name {
  font-size: 16px;
  font-weight: 500;
  margin-right: 5px;
  color: #050505;
}

.right-panel .group .header .info .text {
  font-size: 14px;
  font-weight: 400;
  color: grey;
}

.right-panel .group .header .info i {
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  background: #f0f2f5;
  border-radius: 20px;
  margin-right: 5px;
}

.right-panel .group .header i {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  border-radius: 29px;
}

.right-panel .group .header i:hover {
  background: #ebedef;
}

.right-panel .group img {
  width: 100%;
  border-radius: 5px;
}

.right-panel .group .group-name {
  color: #050505;
}

.right-panel .group .group-detail span {
  font-size: 12px;
  color: #65676b;
}

.right-panel .group .join-btn {
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  color: #050505;
  background-color: #e4e6eb;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
}

.right-panel .group .join-btn:hover {
  background-color: #dfdfdf;
}

@media screen and (max-width: 1260px) {
  header .profile-icons a.user {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  #game_btn {
    display: none;
  }
  #bookmark_toggle_btn {
    display: grid;
  }
  header .logo-icons .logo {
    margin-right: 7px;
  }
  header .logo-icons form.temp-form {
    display: none;
  }
  header .logo-icons i#logo-search-btn {
    display: inline;
    background: #f0f0f0;
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
  }
  .left-panel {
    display: none;
  }
  main {
    grid-column: 1/9;
  }
  .right-panel {
    grid-column: 9/13;
  }
}

@media screen and (max-width: 900px) {
  header .page-icons a i {
    width: 65px;
  }
  main {
    grid-column: 1/13;
  }
  .right-panel {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  header {
    justify-content: none;
  }
  header .page-icons .page_link {
    display: none;
  }
  header .profile-icons {
    margin-left: auto;
  }
  header #mega-menu-btn {
    display: none;
  }
  header #create_menu_btn {
    display: grid;
  }
}
/*# sourceMappingURL=style.css.map */