
// fontawesome icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

// font-family
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

$primary-color: #1b74e4; 
$secondary-color: #65676b; 
$secondarylight-color: #f0f2f5;
$bg-white: #ffffff; 
$bg-scondary: #e4e6eb; 
$bg-hover: #dfdfdf; 

$text-theme: #1b74e4; 
$text-primary: #050505; 
$text-scondary: #65676b; 

@import './mixins';
@import './utilities';
@import './header';
@import './layout';
@import './general';
@import './page';
@import './games';
@import './profile';

// create home post 
.create_post {
    padding: 20px 10px 5px 10px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 1rem;

    .input {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-bottom: 1rem;
        border-bottom: 1px solid #f0f2f5;

        i {
            margin-right: 1rem;
            background: #f3f3f3;
            padding: 10px 12px;
            border-radius: 20px;
            font-size: 19px;
        }

        input {
            flex-grow: 1;
            border-radius: 24px;
            border: none;
            background: #eaeaea;
            padding: 10px;
            font-size: 16px;
            font-weight: 400;
            outline: none;
            cursor: pointer;

            &:hover {
                background: #eaeaea;
            }
        }
    }


    .actions-btns {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &>div {
            cursor: pointer;    
            padding: 10px 12px;
            border-radius: 4px;
            width: 33%;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            .live {
                color: lightcoral;
            }

            .photo {
                color: lightgreen;
            }

            .feeling {
                color: orange;
            }

            span {
                color: $text-scondary;
            }

            i {
                font-size: 20px;
                margin-right: 1rem;
            }

            &:hover {
                background-color: $secondarylight-color;
               
            }
        }
    }
}


/*************** Home Page Layout ******************/
.main-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 99%;
    max-width: 1600px;
    margin-right: auto; 
    margin-left: auto;
    margin-top: 90px;

    .left-col {
        position: sticky;
        top: 90px;
        width: 30%;
        height: 88vh;
        overflow-x: hidden;
        overflow-y: auto;
        @include vertical_scroll();
    }

    .right-col {
        position: sticky;
        top: 90px;
        width: 25%;
        height: 88vh;
        overflow-x: hidden;
        overflow-y: auto;
        @include vertical_scroll();
    }
    
    .main-col {
        width: 40%;
    }
}



/*************** Left Panel items ******************/
.left-col {
    .bookmarks_item {
        cursor: pointer;
        display: flex;
        gap: .5rem;
        align-items: center;
        margin-bottom: .5rem;
        padding: 7px 5px;

        &:hover {
            background-color: #eaeaea;
        }

        .text {
            font-size: 14px;
            font-weight: 500;
    
            .dot {
                font-size: 7px;
                height:0;
                width: 0;
                display: inline;
                margin-right: 3px;
            }
            span {
                display: block;
                color: $primary-color;
                font-size: 10px;
            }
        }
    }

    .see_more_bm {
        height: 0;
        visibility: hidden;

        &.show_see_more_bm {
            height: auto;
            visibility: visible;
        }
    }
}

/*************** Right Panel items ******************/
// spnosered content
.sponsered-content {
    padding: 10px 0;

    .sponser__title {
        padding-bottom: 5px;
    }

    .sponser_cart {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: .5rem;
        cursor: pointer;

        &:hover {
            background-color: $bg-hover;
            .avatar_round_32 {
                display: grid;
                background-color: #fff;
            }
        }
    }

    img {
        width: 100px;
        height: 100px;
        margin-right: 1rem;
        border-radius: 5px;
    }

    .avatar_round_32 {
        position: absolute;
        right: 10px;
        top: 25px;
        display: none;
    }
}

// group suggestion cards
.group_suggestion_wrapper {
    .gs_card {
        background-color: #fff;
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: .5rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .gs_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding-bottom: 13px;
    }

    .header_text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }

    .full_width_btn {
        color: #fff;
        background-color: $primary-color;
    }
}


/*************** Contacts ********************/
.contacts {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid grey;
        padding: 5px 0;

        .icons {
            display: flex;
            align-items: center;
            gap: .3rem;
        }

        .avatar_round_32 {
            color: grey;
            &:hover {
                background: $bg-scondary;
            }
        }
    }

    .contact_item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 10px;
        border-radius: 10px;
        &:hover {
            background-color:#e3e3e3; 
        }
    }
    .avatar_round_36 {
        border: 1px solid grey;
    }
    .online, .offline {
        bottom: 15px;
        left: 40px;
    }
}

/************************ Media Queries ********************/
@media screen and (max-width: 1260px) {
    .user-profile-link {
        display: none;
    }

    .logo-wrapper {
        .form-1 { display: none; }

        .search-icon {
            background-color: #f0f2f5;
            height: 37px;
            width: 38px;
            display: grid;
            place-content: center;
            border-radius: 50%;
            font-size: 20px;
            left: 0;
        }

        .recent-search { top: 0; }

        .form-wrapper-2 {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 24px;
            padding: 0 10 10 15px;
            input { flex-grow: 1; }
        }

        #search-close-btn-2 {
            color: gray;
            font-size: 1.2rem;
        }

        .search-icon-2 { display: grid; }
    }
}


@media screen and (max-width: 1100px) {
    .main-content {
        // left pannel 
        .left-col {  
            display: none; 
        }
        
        .main-col {
            width: 65%;
            margin-left: 0;
        }

        .right-col {
            width: 30%;
        }
    }
    #game_btn { display: none;}

    #bookmark_toggle_btn { display: grid; }

    .logo-icons {
        .logo { margin-right: 7px; }
        form.temp-form { display: none; }

        #logo-search-btn {
            background: #f0f0f0;
            height: 40px;
            width: 40px;
            display: grid;
            place-content: center;
            border-radius: 50%;
        }
    }
}


@media screen and (max-width: 900px) {
    .page-icons .page-icon {
        width: 65px;
    }

    .main-content {
        // left pannel 
        .left-col {  
            display: none; 
        }
        
        .main-col {
            width: 65%;
            margin-left: auto;
            margin-right: auto;
        }

        .right-col {
            display: none;
        }
    }
}


@media screen and (max-width: 700px) {
    // header 
    header {
        justify-content: none;
        #mega-menu-btn { display: none; }
    }

    .profile-icons { margin-left: auto; }

    #create_menu_btn { display:grid; }

    .logo-wrapper {
        width: auto;
    }

    .page-icons {
        .page_link {
            display: none;
        }
    }

    .main-content {
        .main-col {
            width: 95%;
            margin: 0 auto;
        }
    }
}
