.watch_main_content, .mp_main_content, .group_main_content {
  margin-top: 64px;
  display: flex;
  gap: 1rem;
  /*############# Marketplace main content ##################*/
  /*############# group main content ##################*/
}

.watch_main_content .left-side-nav, .mp_main_content .left-side-nav, .group_main_content .left-side-nav {
  background: #fff;
  width: 360px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(170, 170, 170, 0.308);
}

.watch_main_content .left-side-nav .search-box, .mp_main_content .left-side-nav .search-box, .group_main_content .left-side-nav .search-box {
  padding: 0 10px 10px 10px;
}

.watch_main_content .left-side-nav .search-box .title, .mp_main_content .left-side-nav .search-box .title, .group_main_content .left-side-nav .search-box .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.watch_main_content .left-side-nav .search-box .title h4, .mp_main_content .left-side-nav .search-box .title h4, .group_main_content .left-side-nav .search-box .title h4 {
  font-size: 25px;
  letter-spacing: 1px;
}

.watch_main_content .left-side-nav .search-box .title i, .mp_main_content .left-side-nav .search-box .title i, .group_main_content .left-side-nav .search-box .title i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: #f0f0f0;
  place-content: center;
  display: grid;
  border-radius: 50%;
}

.watch_main_content .left-side-nav .search-box .input input, .mp_main_content .left-side-nav .search-box .input input, .group_main_content .left-side-nav .search-box .input input {
  width: 100%;
  border: none;
  outline: none;
  background: #f0f0f0;
  padding: 11px 20px;
  border-radius: 20px;
}

.watch_main_content .left-side-nav .links, .mp_main_content .left-side-nav .links, .group_main_content .left-side-nav .links {
  /*################# Marketplace style ######*/
}

.watch_main_content .left-side-nav .links .link-item, .mp_main_content .left-side-nav .links .link-item, .group_main_content .left-side-nav .links .link-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 8px 10px 8px 7px;
  border-radius: 5px;
  cursor: pointer;
}

.watch_main_content .left-side-nav .links .link-item p, .mp_main_content .left-side-nav .links .link-item p, .group_main_content .left-side-nav .links .link-item p {
  font-size: 16px;
  font-weight: 500;
}

.watch_main_content .left-side-nav .links .link-item i, .mp_main_content .left-side-nav .links .link-item i, .group_main_content .left-side-nav .links .link-item i {
  font-size: 21px;
  background: #e1e1e1;
  height: 45px;
  width: 45px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.watch_main_content .left-side-nav .links .link-item:hover, .mp_main_content .left-side-nav .links .link-item:hover, .group_main_content .left-side-nav .links .link-item:hover {
  background-color: #f0f0f0;
}

.watch_main_content .left-side-nav .links .link-item.active, .mp_main_content .left-side-nav .links .link-item.active, .group_main_content .left-side-nav .links .link-item.active {
  background-color: #f0f0f0;
}

.watch_main_content .left-side-nav .links .link-item.active i, .mp_main_content .left-side-nav .links .link-item.active i, .group_main_content .left-side-nav .links .link-item.active i {
  background-color: #1b74e4;
  color: white;
}

.watch_main_content .left-side-nav .links .following_users, .mp_main_content .left-side-nav .links .following_users, .group_main_content .left-side-nav .links .following_users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 6px 10px;
}

.watch_main_content .left-side-nav .links .following_users h5, .mp_main_content .left-side-nav .links .following_users h5, .group_main_content .left-side-nav .links .following_users h5 {
  font-size: 17px;
  font-weight: 500;
  color: #65676b;
}

.watch_main_content .left-side-nav .links .following_users button, .mp_main_content .left-side-nav .links .following_users button, .group_main_content .left-side-nav .links .following_users button {
  color: #1b74e4;
  font-size: 16px;
  padding: 10px 17px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.watch_main_content .left-side-nav .links .following_users button:hover, .mp_main_content .left-side-nav .links .following_users button:hover, .group_main_content .left-side-nav .links .following_users button:hover {
  background: #f0f2f5;
}

.watch_main_content .left-side-nav .links .mp_create_new_list_btn, .mp_main_content .left-side-nav .links .mp_create_new_list_btn, .group_main_content .left-side-nav .links .mp_create_new_list_btn {
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  color: #1b74e4;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #dcefff;
}

.watch_main_content .left-side-nav .links .mp_create_new_list_btn:hover, .mp_main_content .left-side-nav .links .mp_create_new_list_btn:hover, .group_main_content .left-side-nav .links .mp_create_new_list_btn:hover {
  background-color: #c6ddf0;
}

.watch_main_content .left-side-nav .links .mp_filter_title p, .mp_main_content .left-side-nav .links .mp_filter_title p, .group_main_content .left-side-nav .links .mp_filter_title p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.watch_main_content .left-side-nav .links .mp_filter_title button, .mp_main_content .left-side-nav .links .mp_filter_title button, .group_main_content .left-side-nav .links .mp_filter_title button {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 10px 10px 0;
  color: #1b74e4;
  font-size: 16px;
  font-weight: 400;
}

.watch_main_content .left-side-nav .links .mp_filter_title button:hover, .mp_main_content .left-side-nav .links .mp_filter_title button:hover, .group_main_content .left-side-nav .links .mp_filter_title button:hover {
  background-color: #c6ddf0;
}

.watch_main_content .left-side-nav .links .mp_categories_title, .mp_main_content .left-side-nav .links .mp_categories_title, .group_main_content .left-side-nav .links .mp_categories_title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.watch_main_content .watch_content, .mp_main_content .watch_content, .group_main_content .watch_content {
  max-width: 899px;
  width: 95%;
  margin: 0 auto;
}

.watch_main_content .mp_content, .mp_main_content .mp_content, .group_main_content .mp_content {
  max-width: 1820px;
  width: 90%;
  margin: 0 auto;
  padding-right: 15px;
}

.watch_main_content .mp_content .mp_category, .mp_main_content .mp_content .mp_category, .group_main_content .mp_content .mp_category {
  padding: 2rem 0 1rem 0;
  border-top: 1px solid grey;
}

.watch_main_content .mp_content .mp_category .header, .mp_main_content .mp_content .mp_category .header, .group_main_content .mp_content .mp_category .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.watch_main_content .mp_content .mp_category .header h4, .mp_main_content .mp_content .mp_category .header h4, .group_main_content .mp_content .mp_category .header h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.watch_main_content .mp_content .mp_category .header button, .mp_main_content .mp_content .mp_category .header button, .group_main_content .mp_content .mp_category .header button {
  background: transparent;
  border: none;
  outline: none;
}

.watch_main_content .mp_content .mp_category .header .location, .mp_main_content .mp_content .mp_category .header .location, .group_main_content .mp_content .mp_category .header .location {
  color: #1b74e4;
  font-size: 13px;
  font-weight: 300;
}

.watch_main_content .mp_content .mp_category .header .link_nav, .mp_main_content .mp_content .mp_category .header .link_nav, .group_main_content .mp_content .mp_category .header .link_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.watch_main_content .mp_content .mp_category .header .link_nav a, .mp_main_content .mp_content .mp_category .header .link_nav a, .group_main_content .mp_content .mp_category .header .link_nav a {
  color: #1b74e4;
  cursor: pointer;
}

.watch_main_content .mp_content .mp_category .header .link_nav a:hover, .mp_main_content .mp_content .mp_category .header .link_nav a:hover, .group_main_content .mp_content .mp_category .header .link_nav a:hover {
  text-decoration: underline;
}

.watch_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_btn, .mp_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_btn, .group_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_btn {
  color: #65676b;
  font-size: 18px;
  height: 35px;
  width: 35px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.watch_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_btn:hover, .mp_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_btn:hover, .group_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_btn:hover {
  background-color: #cecece;
}

.watch_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_menu, .mp_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_menu, .group_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_menu {
  position: absolute;
  width: 0;
  right: 100px;
  top: 35px;
  display: flex;
  gap: 1rem;
  align-items: center;
  background: #fff;
  padding: 0;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 0 5px #c3c3c3;
  visibility: hidden;
  user-select: none;
  cursor: pointer;
}

.watch_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_menu.show_mp_see_fewer_menu, .mp_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_menu.show_mp_see_fewer_menu, .group_main_content .mp_content .mp_category .header .link_nav .mp_see_fewer_menu.show_mp_see_fewer_menu {
  right: 0px;
  padding: 15px 10px;
  width: 300px;
  visibility: visible;
}

.watch_main_content .mp_content .mp_category .products, .mp_main_content .mp_content .mp_category .products, .group_main_content .mp_content .mp_category .products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: .5rem;
}

.watch_main_content .mp_content .mp_category .products .product_card, .mp_main_content .mp_content .mp_category .products .product_card, .group_main_content .mp_content .mp_category .products .product_card {
  margin-bottom: 1rem;
}

.watch_main_content .mp_content .mp_category .products .product_card img, .mp_main_content .mp_content .mp_category .products .product_card img, .group_main_content .mp_content .mp_category .products .product_card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
}

.watch_main_content .mp_content .mp_category .products .product_card .product_detail .price, .mp_main_content .mp_content .mp_category .products .product_card .product_detail .price, .group_main_content .mp_content .mp_category .products .product_card .product_detail .price {
  font-size: 1.06rem;
  font-weight: 500;
}

.watch_main_content .mp_content .mp_category .products .product_card .product_detail .name, .mp_main_content .mp_content .mp_category .products .product_card .product_detail .name, .group_main_content .mp_content .mp_category .products .product_card .product_detail .name {
  font-size: 19px;
  font-weight: 300;
}

.watch_main_content .mp_content .mp_category .products .product_card .product_detail .location, .mp_main_content .mp_content .mp_category .products .product_card .product_detail .location, .group_main_content .mp_content .mp_category .products .product_card .product_detail .location {
  font-size: 13px;
  font-weight: 300;
}

.watch_main_content .group_content, .mp_main_content .group_content, .group_main_content .group_content {
  max-width: 1200px;
  width: 98%;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.watch_main_content .group_content img, .watch_main_content .group_content video, .mp_main_content .group_content img, .mp_main_content .group_content video, .group_main_content .group_content img, .group_main_content .group_content video {
  width: 100%;
}

.watch_main_content .group_content .posts, .mp_main_content .group_content .posts, .group_main_content .group_content .posts {
  max-width: 680px;
  width: 98%;
  margin: 0 auto;
}

.watch_main_content .group_content .posts h4, .mp_main_content .group_content .posts h4, .group_main_content .group_content .posts h4 {
  color: #616161;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 1rem;
}

.watch_main_content .group_content .group_suggestions, .mp_main_content .group_content .group_suggestions, .group_main_content .group_content .group_suggestions {
  width: 600px;
}

.watch_main_content .group_content .group_suggestions .join-btn, .mp_main_content .group_content .group_suggestions .join-btn, .group_main_content .group_content .group_suggestions .join-btn {
  background-color: #1b74e4;
  color: white;
}
/*# sourceMappingURL=watch.css.map */