// scroll
@mixin vertical_scroll {
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 5px;
    }
    
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: rgb(184, 184, 184); 
        }
    }


    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(138, 138, 138); 
    }
}

// watch page layout
.page-main-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 1600px;
    width: 100%;
    margin: 65px auto 0 auto;
    
    // left nav column
    .left-col {
        width: 360px;
        flex-shrink: 0;
        background-color: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.147);
        padding: 10px 10px 10px 15px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    
    // right/main column
    .main-col {
        width: 60%;
        margin: 20px auto 0;
    }
}

.col-wrraper {
    position: fixed; 
    top: 80px;
    width: 330px;
}

// watch-bookmarks-header
.watch-bookmarks-header {
    // title
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // search 
    .search-box {
        position: relative;
        margin: 10px 0;

        .search-icon {
            position: absolute;
            top:50%; 
            transform: translateY(-50%);
            left: 10px;
        }
        
        input {
            width: 100%;
            border: none;
            outline: none;
            background: #f0f2f5;
            font-size: 16px;
            padding: 10px 10px 10px 35px;
            border-radius: 20px;
        }
    }
}

.watch-bookmarks {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 76vh;
    @include vertical_scroll(); 
    
}

// bookmart-item styles
.bookmark-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1px;
    padding: 10px 10px 10px 5px;
    border-radius: 9px;
    cursor: pointer;

    &:hover {
        background-color: #f0f2f5;
    }
}

// Manage
.following_users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    button {
        background:transparent; 
        font-size: 16px;
        font-weight: 400;
        &:hover {
            background-color: #f0f2f5;
        }
    }

}


@import './general';


// for smaller devices.
@media screen and (max-width: 800px) {
    .page-main-content {
        .left-col {
            display: none;
        }

        .main-col {
            width: 98%;
        }
    }
}