.watch_main_content, .mp_main_content {
    margin-top: 64px;
    display: flex;
    gap: 1rem;

    // left pannel 
    .left-side-nav {
        background: #fff;
        width: 360px;
        padding: 10px;
        box-shadow: 0 0 5px rgba(170, 170, 170, 0.308);
    


        .search-box {
            padding: 0 10px 10px 10px;
            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: .5rem;
                h4 {
                    font-size: 25px;
                    letter-spacing: 1px;
                }
    
                i {
                    font-size: 20px;
                    width: 40px;
                    height: 40px;
                    background: #f0f0f0;
                    place-content: center;
                    display: grid;
                    border-radius: 50%;
                }
            }
    
            .input input {
                
                width: 100%;
                border: none;
                outline: none;
                background: #f0f0f0;
                padding: 11px 20px;
                border-radius: 20px;
                
            }
        }
    
    
        .links {
            .link-item {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 8px 10px 8px 7px;
                border-radius: 5px;
                cursor: pointer;
    
                p {
                    font-size: 16px;
                    font-weight: 500;
                }
    
                i {
                    font-size: 21px;
                    background: #e1e1e1;
                    height: 45px;
                    width: 45px;
                    display: grid;
                    place-content: center;
                    border-radius: 50%;
                }
    
                &:hover {
                    background-color: #f0f0f0;
                }
    
    
                &.active {
                    background-color: #f0f0f0;
                    
                    i {
                        background-color: #1b74e4;
                        color: white;
                    }
                }
            }
    
            .following_users {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 10px 6px 10px;
    
                h5 {
                    font-size: 17px;
                    font-weight: 500;
                    color: #65676b;
                }
    
                button {
                    color: #1b74e4;
                    font-size: 16px;
                    padding: 10px 17px;
                    border-radius: 4px;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
    
    
                    &:hover {
                        background: #f0f2f5;
                    }
                }
            }

            /*################# Marketplace style ######*/
            // crete new list button
            .mp_create_new_list_btn {
                display: block;
                text-align: center;
                width: 100%;
                padding: 10px;
                margin-top: 1rem;
                color: #1b74e4;
                font-weight: 500;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: #dcefff;

                &:hover {
                    background-color: #c6ddf0;
                }
            }
            // filter link
            .mp_filter_title {
                p {
                   font-size: 16px;
                   font-weight: 600; 
                    letter-spacing: 1px;
                }   

                button {
                    background: transparent;
                    border: none;
                    outline: none;
                    padding: 10px 10px 10px 0;
                    color: #1b74e4;
                    font-size: 16px ;
                    font-weight: 400; 

                    &:hover {
                        background-color: #c6ddf0;
                    }
                }
            }
            // categoreis 
            .mp_categories_title {
                font-size: 16px;
                font-weight: 600; 
                letter-spacing: 1px;
            }
        }
    }

    // videos carts
    .watch_content {
        max-width: 899px;
        width: 95%;
        margin: 0 auto;
        
        // each video cart
        .video_item {
            margin-top: 1rem;
            border-radius: 10px;
            background-color: #fff;
            margin-bottom: 1rem;
            margin-right: 10px;

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;

                .name {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    .avatar {
                        height: 50px;
                        width: 50px;
                        background: lightgray;
                        border-radius: 50%;
                        font-size: 32px;
                        display: grid;
                        place-content: center;
                        border: 1px solid #b2b2b2;
                    }

                    article {
                        h5 {
                            font-size: 16px;
                            font-weight: 500;
                        }
                        span{
                            font-size: 13px;
                            color: grey;
                            font-weight: 400;
                        }
                        i {
                            color: gray;
                            font-size: 13px;
                        }
                    }
                }


                .menu {
                    position: relative;
                    
                    i.video_menu_btn {
                        color: #65676b;
                        padding: 10px 12px;
                        border-radius: 26px;
                        font-size: 18px;
                        cursor: pointer;
                        
                        &:hover {
                            background-color: #f0f0f0;
                        }
                    }

                    .menu_list {
                        position: absolute;
                        top: 40px;
                        right: 0px;
                        background-color: #fff;
                        box-shadow: 0 0 3px rgb(219, 219, 219);
                        border-radius: 5px;
                        height: 0;
                        width: 330px;
                        padding: 8px;
                        z-index: 1111;
                        visibility: hidden;
                        
                        &.show_video_post_menu {
                            height: 345px;
                            visibility: visible;
                        }

                        .list_item {
                            display: flex;
                            gap: 0.8rem;
                            padding: 8px 5px;
                            margin-bottom: 1px;
                            border-radius: 7px;
                            cursor: pointer;

                            article {
                                p {
                                    font-size: 15px;
                                    font-weight: 500;
                                }

                                span {
                                    font-size: 12px;
                                    color: gray;
                                }
                            }

                            &:hover {
                                background: #f0f0f0;
                            }

                            & > i {
                                display: grid;
                                place-content: center;
                                height: 23px;
                                width: 23px;
                                border-radius: 50%;
                                padding: 0;
                                font-size: 17px;
                            }

                            & > i.bordered {
                                border: 2px solid gray;font-size: 15px;
                            }

                            
                        }

                        .divider {
                            margin: 5px 0;
                        }

                    }
                }
            }

            // video desc
            .video_description {
                padding: 0 10px 10px 10px;
                line-height: 24px;
                font-size: 16px;
            }

            // video itself
            .video {
                width: 100%;
                height: 100%;
            }
            
            // reactions 
            .users_reactions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #777777;
                padding: 5px 10px;

                .buttons {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    button {
                        border: none;
                        border-radius: 5px;
                        outline: none;
                        padding: 10px 12px;
                        font-size: 16px;
                        font-weight: 500;
                        color: inherit;
                        background-color: transparent;
                        cursor: pointer;
                        
                        &:hover {
                            background: #f0f0f0;
                        }
                    }

                } 
                
                .reaction_counts {
                    display: flex;
                    align-items: center;
                    gap: .4rem;
                    font-size: 15px;
                    
                    .dot {
                        font-size: 5px;
                    }
                    
                    i {
                        cursor: pointer;
                    }

                    .liks {
                        display: flex; 
                        align-items: center;
                        gap:5px;
                        .thumbs {
                            background: #388bd8;
                            color: white;
                            border-radius: 50%;
                            display: grid;
                            place-content: center;
                            width: 23px;
                            height: 23px;
                        }
                    }
                }

                .likes_count:hover, .video_comment_count:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        // view & write comments
        .video_comments_detail {
            padding:0;
            height:0;
            visibility: hidden;

            &.show_video_coment_detail {
                padding: 10px 15px;
                height: auto;
                visibility: visible;
            }

            // most relevent dropdown
            .most_relevent_menu {
                text-align: right;
                border-top: 1px solid lightgray;
                padding-top: 4px;
                padding-bottom: 4px;
                position: relative;

                button {
                    font-size: 16px;
                    font-weight: 500;
                    color: #65676b;
                    margin-bottom: .5rem;
                    cursor: pointer;
                    background: transparent;
                    border: none;
                    outline: none;
                }

                .mr_menu {
                    width: 345px;
                    height: 0;
                    background: #fff;
                    text-align: left;
                    position: absolute; 
                    top: 32px;
                    right: 0;
                    box-shadow: 0px 0 5px #8b8b8b82;
                    padding: 8px;
                    border-radius: 10px;
                    color: #000;
                    visibility: hidden;

                    &.show_mr_menu_video {
                        height: 210px;
                        visibility: visible;
                    }

                    .item {
                        padding:8px;
                        border-radius: 10px;
                        cursor: pointer;
                        &:hover {
                            background: #f0f0f0;
                        }

                        .title {
                            font-size: 15px;
                            font-weight: 500;
                            margin-bottom: 4px;
                        }

                        .text {
                            font-size: 13px;
                            color: gray;
                        }
                    }
                }
            }

            // genral user avatar 
            .user_avatar {
                height: 43px;
                width: 43px;
                background: lightgray;
                border-radius: 50%;
                font-size: 25px;
                display: grid;
                place-content: center;
                border: 1px solid #b2b2b2;
            }

            // user input comment 
            .input_comment {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: .4rem;
                margin-bottom: 1rem;
                
                input {
                    flex: 1;
                    padding: 10px 15px;
                    background: #f0f0f0;
                    border-radius: 20px;
                    font-size: 15px;
                    border: none;
                    outline: none;
                }
            }

            // user comments 
            .user_comments {
                display: flex;
                justify-content: left;
                align-items: flex-start;
                gap: 0.4rem;
                margin-bottom: 1rem;
                // background-color: lightblue;

                
                .comment_text {
                    background: #f0f0f0;
                    border-radius: 19px;
                    padding: 12px;
                    font-size: 16px;
                    font-weight: 400;
                    color: black;

                    .user_name {
                        font-weight: 500;
                        margin-bottom: 3px;
                    }
                }
            }
        } 
    }


    /*############# Marketplace main content ##################*/
    .mp_content {
        max-width: 1820px;
        width: 90%;
        margin: 0 auto;
        padding-right: 15px;

        .mp_category {
            padding: 2rem 0 1rem 0;
            border-top: 1px solid grey;
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 2rem;
                h4 {
                    font-size: 1.25rem;
                    font-weight: 500;
                }

                button {
                    background: transparent;
                    border: none;
                    outline: none;
                }
                .location {
                    color: #1b74e4;
                    font-size: 13px;
                    font-weight: 300;
                }

                .link_nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1rem;
                    position: relative;

                    a {
                        color: #1b74e4;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .mp_see_fewer_btn {
                        color: #65676b;
                        font-size: 18px;
                        height: 35px;
                        width: 35px;
                        display: grid;
                        place-content: center;
                        border-radius: 50%;
                        cursor: pointer;

                        &:hover {
                            background-color: #cecece;
                        }
                    }

                    .mp_see_fewer_menu {
                        position: absolute;
                        width: 0;
                        right: 100px;
                        top: 35px;
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        background: #fff;
                        padding: 0;
                        font-size: 16px;
                        border-radius: 10px;
                        box-shadow: 0 0 5px #c3c3c3;
                        visibility: hidden;
                        user-select: none;
                        cursor: pointer;

                        &.show_mp_see_fewer_menu {
                            right: 0px;
                            padding: 15px 10px;
                            width: 300px;
                            visibility: visible;
                        }
                    }
                }
            }

            .products { 
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
                // grid-template-rows: repeat(auto-fit, minmax(230px, 1fr));
                gap: .5rem;
                .product_card {
                    margin-bottom: 1rem;
                    img {
                        width: 100%; 
                        height: 230px; 
                        object-fit: cover;  
                        border-radius: 8px;
                    }

                    .product_detail {
                        .price {
                            font-size: 1.06rem;
                            font-weight: 500;
                        }
                        .name {
                            font-size: 19px;
                            font-weight: 300;
                        }

                        .location {
                            font-size: 13px;
                            font-weight: 300;
                        }
                     }

                }
            }
        }
    }
}