.page-main-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 1600px;
  width: 100%;
  margin: 65px auto 0 auto;
}

.page-main-content .left-col {
  width: 360px;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.147);
  padding: 10px 10px 10px 15px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.page-main-content .main-col {
  width: 60%;
  margin: 20px auto 0;
}

.col-wrraper {
  position: fixed;
  top: 80px;
  width: 330px;
}

.watch-bookmarks-header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch-bookmarks-header .search-box {
  position: relative;
  margin: 10px 0;
}

.watch-bookmarks-header .search-box .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.watch-bookmarks-header .search-box input {
  width: 100%;
  border: none;
  outline: none;
  background: #f0f2f5;
  font-size: 16px;
  padding: 10px 10px 10px 35px;
  border-radius: 20px;
}

.watch-bookmarks {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 76vh;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.watch-bookmarks::-webkit-scrollbar {
  width: 5px;
}

.watch-bookmarks::-webkit-scrollbar-track {
  background: transparent;
}

.watch-bookmarks::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.watch-bookmarks:hover::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.watch-bookmarks::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.bookmark-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1px;
  padding: 10px 10px 10px 5px;
  border-radius: 9px;
  cursor: pointer;
}

.bookmark-item:hover {
  background-color: #f0f2f5;
}

.following_users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.following_users button {
  background: transparent;
  font-size: 16px;
  font-weight: 400;
}

.following_users button:hover {
  background-color: #f0f2f5;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.post {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 12px;
}

.post .header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.post .avatar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.post .avatar_round_36 {
  font-size: 18px;
}

.post .avatar_round_48 {
  background-color: lightgray;
}

.post .avatar_round_36:hover {
  background-color: #f0f2f5;
  cursor: pointer;
}

.post .description {
  padding: 10px;
}

.post video {
  width: 100%;
}

.post .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.post .center {
  display: flex;
  align-content: center;
  gap: 5px;
}

.post .action-btns, .post .counts {
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-header-dropdown {
  background-color: white;
  padding: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.136);
  border-radius: 8px;
  position: absolute;
  top: 45px;
  right: 10px;
  display: none;
}

.post-header-dropdown.show {
  display: block;
}

.post-header-dropdown .list_item {
  display: flex;
  gap: 10px;
  padding: 8px 5px;
  border-radius: 8px;
  cursor: pointer;
}

.post-header-dropdown .list_item:hover {
  background-color: #f0f2f5;
}

.post-header-dropdown .list-item-icon {
  margin-top: 3px;
  color: #5f5f5f;
}

.collapsed-comments-wrraper {
  padding: 10px;
  display: none;
}

.collapsed-comments-wrraper.show {
  display: block;
}

.collapsed-comments-wrraper .write-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.collapsed-comments-wrraper .input-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f2f5;
  border-radius: 15px;
}

.collapsed-comments-wrraper .input-wrapper input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
  flex-grow: 1;
}

.collapsed-comments-wrraper .comments-filter {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
  z-index: 111;
}

.collapsed-comments-wrraper .comments-filter-btn {
  cursor: pointer;
  user-select: none;
}

.collapsed-comments-wrraper .comments-filter-menu {
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 111;
  width: 250px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 1px 10px #00000033;
  border-radius: 8px;
  display: none;
}

.collapsed-comments-wrraper .comments-filter-menu.show {
  display: block;
}

.collapsed-comments-wrraper .comments-filter-item {
  margin-bottom: 5px;
  padding: 10px 7px;
  cursor: pointer;
  border-radius: 8px;
}

.collapsed-comments-wrraper .comments-filter-item:hover {
  background-color: #f0f2f5;
}

.collapsed-comments-wrraper .given-comments {
  margin-top: 15px;
}

.collapsed-comments-wrraper .given-comments .dropdown-btn {
  color: transparent;
  cursor: pointer;
}

.collapsed-comments-wrraper .given-comments .dropdown-btn:hover {
  background-color: #f0f2f5;
}

.collapsed-comments-wrraper .given-comments .given-comments-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.collapsed-comments-wrraper .given-comments .given-comments-item:hover .dropdown-btn {
  color: gray;
}

.collapsed-comments-wrraper .given-comments .avatar_round_32 {
  flex-shrink: 0;
}

.collapsed-comments-wrraper .given-comments .comment-text-avatar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.collapsed-comments-wrraper .given-comments .comment-messege {
  background-color: #f0f2f5;
  padding: 8px 10px;
  border-radius: 20px;
  margin-top: 2px;
}

@media screen and (max-width: 800px) {
  .page-main-content .left-col {
    display: none;
  }
  .page-main-content .main-col {
    width: 98%;
  }
}
/*# sourceMappingURL=watch.css.map */